.banner {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--white);
  padding-bottom: 50px;
}

.paddles {
  width: 150px;
  line-height: 20px;
}

.totoro {
  width: 300px;
}

@media (max-width: 600px) {
  .paddles {
    width: 125px;
  }
  .totoro {
    width: 250px;
  }
}
