.console {
  background-color: var(--lightest-gray);
  display: flex;
  padding: 30px 10px;
  font-size: 18px;
}

.console-container {
  margin: auto;
  justify-content: center;
  padding: 20px 0;
  min-width: 500px;
}

.console-input {
  display: flex;
}

#blinker {
  content: "";
  background-color: #606060;
  width: 8px;
  animation: blink 1s step-end infinite;
}

@keyframes blink {
  0% {
    opacity: 1.0;
  }
  50% {
    opacity: 0.0;
  }
  100% {
    opacity: 1.0;
  }
}

.initiator {
  display: flex;
}

.prompt {
  outline: none;
  border: none;
  background-color: inherit;
  color: transparent;
  text-shadow: 0 0 0 var(--black);
  padding: 0;
  font-size: 18px;
  margin-left: 10px;
  width: 170px;
}

#hint {
  color: var(--light-gray);
}

#one,
#two,
#three,
#welcome,
#lin-info {
  display: none;
}

.result,
.block-result {
  color: var(--dark-gray);
  margin-left: 20px;
  margin-bottom: 0;
}

.block-result {
  margin-left: 45px;
}

.section {
  margin: 1em;
  margin-left: 0;
}

.interests {
  display: flex;
}

.interests li {
  list-style: none;
  position: relative;
  cursor: pointer;
}

.interests li>span {
  position: relative;
  display: none;
}

.interests li:hover>span {
  position: absolute;
  top: 20px;
  display: block;
  background: var(--darker-gray);
  padding: 2px;
  left: calc(2em - 125px);
}

.tooltip-img {
  width: 250px;
}

.list {
  margin: 0;
  padding-left: 12px;
  display: flex;
}

@media (min-width: 1000px) {
  .list {
    display: inline-block;
  }
  .console, .prompt {
    font-size: 20px;
  }
  .initiator {
    font-size: 30px;
  }
}