.header {
  background-color: var(--powder-red);
  position: absolute;
  padding: 0;
  height: 40px;
  z-index: 1;
  top: 0;
  width: 100%;
}
.nav-buttons {
  text-align: center;
  margin: 0 auto;
  padding: 0;
  align-items: center;
  list-style: none;
  justify-content: flex-end;
  display: flex;
  flex: 1;
}
.link-buttons {
  margin-right: 5px;
}
.link-button {
  background-color: inherit;
  border: none;
  outline: none;
  cursor: pointer;
  transition: 0.5s;
  font-size: 17px;
  margin: 0 20px;
  color: var(--white);
}
.header a:hover {
  font-size: 25px;
}
.imgs {
  width: 30px;
  transition: 0.5s;
}
.imgs:hover {
  width: 40px;
}

.row-display {
  padding: 0 6vw;
  height: 100%;
  display: flex;
  margin: 0 auto;
}

.icon-links {
  display: flex;
  align-items: center;
}

.icon-link {
  line-height: inherit;
  display: inline-block;
  font-size: 0;
  padding: 0;
  border: none;
  margin-right: 5px;
}

@media (max-width: 600px) {
  .header {
    height: 40px;
    font-size: 18px;
  }
  .link-button {
    margin: 0;
    margin-right: 10px;
  }
}

@media (min-width: 1000px) {
  .header {
    height: 60px;
    font-size: 16px;
  }
  .imgs {
    width: 40px;
  }
  .icon-link {
    margin-right: 20px;
  }
  .header a:hover {
    font-size: 30px;
  }
  .imgs:hover {
    width: 60px;
  }
}
