@import "colors.css";
@import "header.css";
@import "banner.css";
@import "console.css";
@import "name.css";
@import "resume.css";

html, body {
  margin: 0;
  background-color: var(--lightest-gray);
  height: 100%;
}

a {
  text-decoration: none;
}

* {
  font-family: monospace;
}

p {
  margin: 0;
}
