.name {
  text-align: center;
  background-color: var(--white);
  font-size: 40px;
  padding: 20px;
  margin-top: 40px;
}

@media (max-width: 600px) {
  .name {
    margin-top: 40px;
  }
}

@media (min-width: 1000px) {
  .name {
    margin-top: 40px;
    padding: 50px;
    font-size: 80px;
  }
}
