html {
    background: url("imgs/bubbles.jpg") no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover ;
    -o-background-size: cover;
    background-size: cover;

}
body {
    height: 100%;
    width:100%;
}


#circle-container {
    padding: 2.8em; 
    border-radius: 50%;
    background-color: #FFF;
    position:absolute;

}


#circle-container a {
    display: block;
    overflow: hidden;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 6em;
    height: 6em;
    margin: -3em;


}

#circle-container img { display: block; width: 100%; }



#text-display-container{
    position: fixed;
    font-family: 'Londrina Outline', cursive;
    color:black;
    font-size:40px ;
    bottom: 50px;
    width: 100%;
}
#josh{
    position: absolute;
    z-index: 10;
    top: 2%;
}

.centerContent {
    background: white;
    margin-left: 20%;
    margin-right: 10%;
    text-align: center; 
}

#doodling {
    margin-top: 20%;
}
#doodlingIMGS {
    width: 80%;
}

#db{
    margin-top: 20%;
}

#dbIMGS{
    width: 80%;
}