* {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  display: flex;
  align-content: center;
  background: #6b92b9;
  flex-direction: column;
  align-items: center;
  margin-top: 30px;
}

input {
  margin-bottom: 10px;
  width: 150px;
}

p {
  width: 600px;
  margin-bottom: 30px;
}

h3 {
  text-align: center;
  margin-bottom: 10px;
}

.customize {
  width: 380px;
  margin-bottom: 10px;
}

.title {
  text-align: center;
  margin-bottom: 20px;
}

.gameContainer {
  margin-bottom: 100px;
}

#gameDiv {
  width: 640px;
}
