/*Simple reset*/
* {margin: 0; padding: 0;}

body {
	/*You can use any kind of background here.*/
	background: #6b92b9;
}
canvas {
    display: block;
    position:relative;
}

.title {
    text-align: center;
}

.game-area canvas {
    display: block;
    position:relative;
    border: 1px dashed #ccc;
    margin: 0 auto;
}